@import url('href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"');

:root {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 10%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
p{
  font-weight: 300;
  margin: 0;
  padding: 0;
}
a {
  font-weight: 500;
  color: hsl(0, 0%, 80%);
  text-decoration: inherit;
}
a:hover {
  color: hsl(0, 0%, 30%);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

